/*-------------------------------------------*\
    Windows/Display
\*-------------------------------------------*/

.window-style {
    background: rgb(195, 195, 195);
    border-top: solid rgb(250, 250, 250) 2px;
    border-left: solid rgb(250, 250, 250) 2px;
    border-right: solid rgb(90, 90, 90) 1.5px;
    border-bottom: solid rgb(90, 90, 90) 1.5px;
    box-shadow: 1.5px 1.5px black;
    outline: rgb(222, 222, 222) 1px solid;
}

.window {
    min-height: 80vh;
    min-width: 50vw;
    max-width: 100vw !important;
    max-height: 100vh !important;
}

@media only screen and (max-width: 600px) {
    .window {
        min-height: 70vh;
    }
}

/*-------------------------------------------*\
    Buttons 
\*-------------------------------------------*/

.expand-button, .minimize-button, .close-button {
    background: rgb(195, 195, 195);
    border-top: solid rgb(250, 250, 250) 1px;
    border-left: solid rgb(250, 250, 250) 1px;
    border-right: solid rgb(90, 90, 90) 1px;
    border-bottom: solid rgb(90, 90, 90) 1px;
    box-shadow: 1px 1px black;
    height: 16px;
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2px;
}

.expand-button:active, .minimize-button:active, .close-button:active {
    border-radius: 0px;
background: rgb(192, 192, 192);
            box-shadow: none;
    border-top: solid rgb(0, 0, 0) 1.5px;
    border-left: solid rgb(0, 0, 0) 1.5px;
    border-bottom: solid rgb(250, 250, 250) 1.5px;
    border-right: solid rgb(250, 250, 250) 1.5px;
}

.triple-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.button:hover {
    cursor: pointer;
}

/*-------------------------------------------*\
    Top Bar
\*-------------------------------------------*/

.top-bar:hover {
    cursor: default;
}

.window-name {
    color: white;
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 0;
    margin: 0 0 0 3px;
}

/*-------------------------------------------*\
    CSS Normalisation 
\*-------------------------------------------*/

button {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    outline: inherit;
}

p {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}